#comment-box {
	padding-top: 20px;
	/*
	form input {
		margin-top: 5px;
	}*/
}

#gallery {
	div {
		padding: 20px;
	}

	div img {
		display: block;
		height: auto;
		max-width: 100%;
	}
}

#howdy {
	font-family: "Permanent Marker", sans-serif;
}

#introtext {
    font-family: "Open Sans", sans-serif;
}

#msgSubmit {
	visibility: hidden;
}

/*
#msgSubmit {
	float: right;
}*/

.alertText {
	font-weight:  bolder;
}

.container {
	background-color: #D9CB9E;
    min-height: 480px;
/*	height: 800px; */
}

body {
	background-color: #2A2C2B;
}

nav {
	background-color: #DC3522;
	div {
		height: 3.3em;
		padding-top: 10px;
		text-align: center;
	  a {
			color: black;
			font: {
				weight: bold;
				family: monospace;
			};
			text-decoration: none;
			&:hover {
				text-decoration: none;
			}
		}
		img {
			margin-top: -5px;
		}
	}
}
