#comment-box {
  padding-top: 20px; }

#gallery {
  height: 400px; }
  #gallery div img {
    width: 100%;
    height: auto; }

.alertText {
  font-weight: bolder; }

.container {
  background-color: #D9CB9E;
  height: 800px; }

.howdy {
  font-family: "Caflisch Script", cursive, serif; }

body {
  background-color: #2A2C2B; }

nav {
  background-color: #DC3522; }
  nav div {
    height: 3.3em;
    padding-top: 10px;
    text-align: center; }
    nav div a {
      color: black;
      font-weight: bold;
      font-family: monospace;
      text-decoration: none; }
      nav div a:hover {
        text-decoration: none; }
    nav div img {
      margin-top: -5px; }
