.alertText {
	font-weight:  bolder;
}

body {
	background-color: #2A2C2B;
}

.container {
	background-color: #D9CB9E;
	height: 800px;
}

.howdy {
	font-family: "Caflisch Script", cursive, serif;
}

nav {
	background-color: #DC3522;
	div {
		height: 3.3em;
		padding-top: 10px;
		text-align: center;
	  a {
			color: black;
			font: {
				weight: bold;
				family: monospace;
			};
			text-decoration: none;
			&:hover {
				text-decoration: none;
			}
		}
		img {
			margin-top: -5px;
		}
	}
}
