#container {
	background-color: #90C3D4;
	width: 100%;
}

#menu {
	width: 100%;
	height: 30px;
	background-color: #B25B00;
}

#menu ul {
	padding-top: 5px;
}
#menu li {
	display: inline;
}
#callout {
	margin-top: 20px;
	text-align: center;
	font-family: monospace, impact;
	font-size: 30px;
	font-weight: bold;
	letter-spacing: 15px;
}

#intro {
	margin-top: 40px;
	margin-right: auto;
	margin-left: auto;
	width: 300px;
	height: 150px;
	text-align: center;
	font-family: monospace, impact;
}

.spacer200 {
	width: 100%;
	height: 200px;
}

#ooer {
	text-align: center;
}
