.alertText {
  font-weight: bolder; }

body {
  background-color: #2A2C2B; }

.container {
  background-color: #D9CB9E;
  height: 800px; }

.howdy {
  font-family: "Caflisch Script", cursive, serif; }

nav {
  background-color: #DC3522; }
  nav div {
    height: 3.3em;
    padding-top: 10px; }
    nav div a {
      color: black;
      font-weight: bold;
      font-family: monospace;
      text-decoration: none; }
      nav div a:hover {
        text-decoration: none; }
    nav div img {
      margin-top: -5px; }
