#about-me {
  margin-bottom: 30px;
}

#contact-info {
  font-family: "Open Sans";
  font-size: 1.5em;
  margin-top: 20px;
  margin-bottom: 30px;
}

#contact-info i {
  margin-left: 5px;
}

#contact-info ul {
  list-style: none;
  list-style-position: inside;
  padding-top: 10px;
  text-align: right;
}

#my-name {
  font-family: inhert;
  font-size: 2.3em;
}

#skills ul {
  list-style: none;
  margin-top: 10px; 
}

.section-heading {
  font-size: 1.5em;
  font-weight: bold;
}
